body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #a89bb7, #f0b7b3);
  
}

/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 500;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #a89bb7, #f0b7b3);
  
}



html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
} */
